<div class="login">
  <h1 class="login__header">Getting Started with Firebase Auth</h1>
  <form>
    <div class="login__group">
      <input id="txtEmail" type="email" />
      <label>Email</label>
    </div>
    <div class="login__group">
      <input id="txtPassword" type="password" />
      <label>Password</label>
    </div>
    <div id="divLoginError" class="login__group">
      <div id="lblLoginErrorMessage" class="login__errorlabel">Error message</div>
    </div>
    <button id="btnLogin" type="button" class="button buttonBlue">Log in</button>
    <button id="btnSignup" type="button" class="button buttonBlue">Sign up</button>
  </form>
</div>
